
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CartAjax</title>

    <link href="~/content/bootstrap.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.3.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script>
        $("#div").contains = alert("this product added to your cart");
    </script>
</head>
<body>
    <div id="div"> 
       
    </div>
</body>
</html>
